@import "tailwindcss";

@theme {
  --color-kpso-white: #f0ebe5;
  --color-kpso-brown: #ded0bf;
  --color-kpso-blue: #2a3993;
  --color-kpso-red-primary: #964b48;
  --color-kpso-red-secondary: #a69494;

  --font-inter: "Inter";
  --font-inria-serif: "Inria_Serif";
}
